<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestClass">
    <test name="TestDemo">
        <parameter name="ip01" value="${ip01}" />
        <parameter name="ip02" value="${ip02}" />
        <parameter name="ip03" value="${ip03}" />
        <parameter name="passWord" value="${passWord}" />
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
</suite>
